In [3]:
import pandas as pd

# Работа с Pandas

1. Загрузите ваш DataFrame в переменную df и выведете на экран первые пять строк

In [4]:
#Задаем название файла DataFrame, важно чтобы он лежал в одной дирректории с ноутбуком
DataFrame = 'googleplaystore.csv'

#Подгружаем файл
df = pd.read_csv(DataFrame)

#Приводим название столбцов к соответствию по pep8 (было сказанно в уроке)
df.columns = df.columns.str.lower().str.replace(' ', '_')

#Вывод первых пяти строк
df.head()

,app,category,rating,reviews,size,installs,type,price,content_rating,genres,last_updated,current_ver,android_ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0.0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0.0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0.0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0.0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0.0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

2. Отобразите количество строк и столбцов в DataFrame

In [5]:
print(f"Количество строк в DataFrame - {df.shape[0]}")
print(f"Количество столбцов в DataFrame - {df.shape[1]}")

Количество строк в DataFrame - 10841
Количество столбцов в DataFrame - 13

3. Выведете основную информацию о DataFrame методом info(). Проанализируйте есть ли пропуски в столбцах. Напишите вывод о том, какие столбцы содержат пропуски

In [6]:
df.info()
# определение столбцов с пропущенными значениями
# Вариант 1
cols_with_missing = [col for col in df.columns if df[col].isna().any()]
# Вариант 2
#cols_with_missing = [col for col in df.columns if df[col].isnull().any()]
# вывод названий столбцов с пропущенными значениями через f-строку
print(f"Столбцы с пропущенными значениями: {', '.join(cols_with_missing)}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   app             10841 non-null  object
 1   category        10841 non-null  object
 2   rating          9367 non-null   float64
 3   reviews         10841 non-null  object
 4   size            10841 non-null  object
 5   installs        10841 non-null  object
 6   type            10840 non-null  object
 7   price           10841 non-null  float64
 8   content_rating  10840 non-null  object
 9   genres          10841 non-null  object
 10  last_updated    10841 non-null  object
 11  current_ver     10833 non-null  object
 12  android_ver     10838 non-null  object
dtypes: float64(2), object(11)
memory usage: 1.1+ MB
Столбцы с пропущенными значениями: rating, type, content_rating, current_ver, android_ver

4. Удалите или замените пропуски известными вам методами. (Подсказка: `dropna()` или `fillna()`, выбор того или иного метода должен быть аргументирован).

In [5]:
# Смотрим сколько строк останется после применения метода dropna() 
df.dropna().shape

(9360, 13)

Методом dropna() отрезается 1481 строка, что составляет 13.66% от общего числа строк. В уроке было сказанно, что принято использовать метод dropna() с учетом того, что отрезается не больше 10%. Соответственно в данном случае метод dropna() не подходит. Но мы применим его после заполнения медианой столбца rating.

In [6]:
# Заполним пропуски в столбце rating медианным значением
df.rating = df.rating.fillna(df.rating.median())
# Теперь можно применить метод dropna() и перезаписать данные
df.dropna(inplace=True)
# Перезаписываем индексы
df.reset_index(drop=True, inplace=True)

5. Проверьте нет ли пропусков после произведенной обработки

In [7]:
# Проверяем пропуски более удобным методом 
df.isna().sum()

app               0
category          0
rating            0
reviews           0
size              0
installs          0
type              0
price             0
content_rating    0
genres            0
last_updated      0
current_ver       0
android_ver       0
dtype: int64

6. Выведите на экран минимум и максимум из столбца `Price`:

In [8]:
# вывод минимального и максимального значения из столбца Price
print(f"Минимальное значение в столбце Price: {df.price.min()}")
print(f"Максимальное значение в столбце Price: {df.price.max()}")

Минимальное значение в столбце Price: 0.0
Максимальное значение в столбце Price: 400.0

7. Выведите на экран медиану и среднее арифметическое столбцов:
 - Rating
 - Reviews

In [9]:
# вывод медианы и среднего арифметического столбцов Rating и Reviews
print(f"Медиана столбца Rating: {df.rating.median()}")
print(f"Среднее арифметическое столбца Rating: {df.rating.mean()}")
print(f"Медиана столбца Reviews: {df.reviews.median()}")
print(f"Среднее арифметическое столбца Reviews: {df.reviews.mean()}")

Медиана столбца Rating: 4.3
Среднее арифметическое столбца Rating: 4.206510296426262
Медиана столбца Reviews: 2100.0
Среднее арифметическое столбца Reviews: inf

8. Выведите на экран все уникальные значения категориального столбца Genres

In [10]:
s = pd.Series(data=list(df.genres.unique()), name='unique_genres')
s

0                         Art & Design
1            Art & Design;Pretend Play
2              Art & Design;Creativity
3      Art & Design;Action & Adventure
4                      Auto & Vehicles
                    ...
114           Role Playing;Brain Games
115                 Strategy;Education
116                Racing;Pretend Play
117           Communication;Creativity
118                Strategy;Creativity
Name: unique_genres, Length: 119, dtype: object

9. Сгруппируйте данные по столбцу `Genres` и посчитайте для каждого жанра средний и медианный рейтинг. Представьте результат в виде нового DataFrame,который будет сохранен в переменную `grouped_df`, где одна колонка будет содержать названия жарнов, а две другие буду содержать в себе средний и медианный рейтинги. Напишите краткий вывод.

In [11]:
grouped_df = df.groupby(by='genres', as_index=False).agg(rating_median = ('rating','median'), rating_mean = ('rating','mean'))
grouped_df.sample(10)

                            genres  rating_median  rating_mean
72                           Music            4.3     4.218182
1        Action;Action & Adventure            4.3     4.311765
39                       Education            4.3     4.302190
71                         Medical            4.3     4.216199
98   Simulation;Action & Adventure            4.5     4.418182
30               Casual;Creativity            4.2     4.314286
102                         Sports            4.3     4.246985
15                           Board            4.3     4.293182
109                Tools;Education            4.5     4.500000
59                          Events            4.3     4.395313

In [12]:
# Код для кратких выводов
# квартиль 5%
Q05 = grouped_df.rating_median.quantile(0.05)
# Жанры с самым низким рейтингом
grouped_df.query('rating_median < @Q05')

                                 genres  rating_median  rating_mean
12            Art & Design;Pretend Play            3.9          3.9
63  Health & Fitness;Action & Adventure            3.9          3.9
77                Parenting;Brain Games            3.8          3.8

In [13]:
# квартиль 95%
Q95 = grouped_df.rating_median.quantile(0.95)
# Жанры с самым высоким рейтингом
grouped_df.query('rating_median > @Q95')

                        genres  rating_median  rating_mean
11     Art & Design;Creativity            4.7          4.4
18          Board;Pretend Play            4.8          4.8
35           Comics;Creativity            4.8          4.8
64  Health & Fitness;Education            4.7          4.7

rating_median и rating_mean близки по значениям для всех жанров. Вывод наиболее и наимение рейтинговых жанров позволяет сделать вывод о том, что наиболее рейтинговыми жанрами приложений являются "настольные и ролевые игры", "комиксы и творчество". Жанры саязанные артом и дизайном, а также здоровьем и фитнесом попали как в категорию с самым высоким рейтинго так и с самым низким, но нюанс заключается в том, что пользователям интересны приложения катекории "Арт и Дизайн" в подразделе "Творчество", а в категории "Здоровье и фитнес" в подразделе "Обучение"

10. Из получившегося датафрейма выведите на экран только те жанры, чей медианный рейтинг больше 4.5. Напишите краткий вывод.

In [14]:
grouped_df.query('rating_median > 4.5')

                          genres  rating_median  rating_mean
4          Adventure;Brain Games            4.6     4.600000
11       Art & Design;Creativity            4.7     4.400000
18            Board;Pretend Play            4.8     4.800000
35             Comics;Creativity            4.8     4.800000
55      Entertainment;Creativity            4.6     4.533333
64    Health & Fitness;Education            4.7     4.700000
74           Music;Music & Video            4.6     4.533333
87              Puzzle;Education            4.6     4.600000
105  Strategy;Action & Adventure            4.6     4.600000

Аналогичный вывод написал выше.

11. Выведете кол-во дубликатов в основном DataFrame (df) и удалите их

In [15]:
# определение дубликатов
duplicates = df.duplicated()

# вывод количества дубликатов
print('Количество дубликатов:', duplicates.sum())

# удаление дубликатов
df.drop_duplicates(inplace=True)

Количество дубликатов: 483

12. Посчитатайте какое количество игр содержится в каждом жанре (value_counts). Выведите на экран топ-10 игр по количеству в жанре. Напишите краткий вывод.

In [16]:
genres_counts = df.genres.value_counts()

print('Топ-10 приложений по количеству в жанре')
genres_counts.head(10)

Топ-10 игр по количеству в жанре

Tools              840
Entertainment      587
Education          526
Business           427
Medical            408
Productivity       407
Personalization    386
Lifestyle          372
Communication      366
Sports             364
Name: genres, dtype: int64

Разработчики пилят всякие тулзы и приложения для развлечений, но ни одна из этих категорий не попала в выборку по рейтингу.